In [1]:
import pandas as pd
import re
from datetime import datetime

In [14]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
#a
import pandas as pd
import numpy as np
raw_train = pd.read_csv('/content/drive/MyDrive/dataset/train.csv')
raw_train

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [18]:
raw_train.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [20]:
#a)checking for null values in data frame
raw_train.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [21]:
df = pd.DataFrame(raw_train)
#b)mileage, engine, power and new price,has units, first we will remove these and after that we will conver

In [22]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [23]:
df['Mileage'] = df['Mileage'].str.extract('(\d+\.\d+)').astype(float)

df['Engine'] = df['Engine'].str.replace(' CC', '').astype(float)

df['Power'] = df['Power'].str.extract('(\d+\.\d+)').astype(float)

df['New_Price'] = df['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [25]:
#Replace the NA values of Mileage, Engine and Power with the mean
df['Mileage'].fillna(df['Mileage'].median(),inplace=True)
df['Engine'].fillna(df['Engine'].median(),inplace=True)
df['Power'].fillna(df['Power'].median(),inplace=True)

df['Seats'].fillna(df['Seats'].mode()[0],inplace=True)

df.drop('New_Price', axis=1, inplace=True)

In [26]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [30]:
output_csv_file = '/content/drive/MyDrive/dataset/cleaned_data.csv'
df.to_csv(output_csv_file, index=False)

In [31]:
df2=pd.read_csv("/content/drive/MyDrive/dataset/cleaned_data.csv")

In [32]:
df2.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [33]:
#c)Change the categorical variables (â€œFuel_Typeâ€ and â€œTransmissionâ€) into numerical one hot encoded value
df2 = pd.get_dummies(df2, columns=['Fuel_Type', 'Transmission'], prefix=['Fuel_Type', 'Transmission'])

In [36]:
#Convert the variables into hot encoding
df2['Fuel_Type_Diesel'] = df2['Fuel_Type_Diesel'].astype(int)
df2['Fuel_Type_Electric'] = df2['Fuel_Type_Electric'].astype(int)
df2['Fuel_Type_Petrol'] = df2['Fuel_Type_Petrol'].astype(int)
df2['Transmission_Automatic'] = df2['Transmission_Automatic'].astype(int)
df2['Transmission_Manual'] = df2['Transmission_Manual'].astype(int)

In [37]:
df2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1
1,2,Honda Jazz V,Chennai,2011,46000,First,18.19,1199.0,88.70,5.0,4.50,0,0,1,0,1
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1

In [43]:
##Save the encoded data in csv format
output_csv_file = '/content/drive/MyDrive/dataset/en_data.csv'
df2.to_csv(output_csv_file, index=False)

In [44]:
#d) Create one more feature and add this column to the dataset
current_year = datetime.now().year

df2['Current_Age'] = current_year - df2['Year']

In [45]:
output_csv_file = '/content/drive/MyDrive/dataset/mutate.csv'
df2.to_csv(output_csv_file, index=False)

In [47]:
mutate_data=pd.read_csv("/content/drive/MyDrive/dataset/mutate.csv")
mutate_data.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,1,0,0,0,1,9
1,2,Honda Jazz V,Chennai,2011,46000,First,18.19,1199.0,88.70,5.0,4.50,0,0,1,0,1,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,1,0,0,0,1,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,1,0,0,1,0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,1,0,0,0,1,11

In [50]:
#e
#Select: Selecting specific columns from the DataFrame.
selected_data = df[['Name', 'Location', 'Year', 'Kilometers_Driven']]
print(selected_data.head())

                               Name    Location  Year  Kilometers_Driven
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
1                      Honda Jazz V     Chennai  2011              46000
2                 Maruti Ertiga VDI     Chennai  2012              87000
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
4            Nissan Micra Diesel XV      Jaipur  2013              86999

In [53]:
#Filter: Filtering rows based on a condition.
filtered_data = df[df['Fuel_Type'] == 'Diesel']
print(filtered_data.head())

   Unnamed: 0                               Name    Location  Year  \
0           1   Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                  Maruti Ertiga VDI     Chennai  2012
3           4    Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6             Nissan Micra Diesel XV      Jaipur  2013
5           7  Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0
5              36000    Diesel    Automatic      First    11.36  2755.0

    Power  Seats  Price
0  126.20    5.0  12.50
2   88.76    7.0   6.00
3  140.80    5.0  17.74
4   63.10    5.0   3.50
5  171.50    8.0  17.50

In [54]:
#Rename: Renaming columns in the DataFrame.
renamed_data = df.rename(columns={'Kilometers_Driven': 'Kms_Driven'})
print(renamed_data.head())

   Unnamed: 0                              Name    Location  Year  Kms_Driven  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015       41000
1           2                      Honda Jazz V     Chennai  2011       46000
2           3                 Maruti Ertiga VDI     Chennai  2012       87000
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013       40670
4           6            Nissan Micra Diesel XV      Jaipur  2013       86999

  Fuel_Type Transmission Owner_Type  Mileage  Engine   Power  Seats  Price
0    Diesel       Manual      First    19.67  1582.0  126.20    5.0  12.50
1    Petrol       Manual      First    18.19  1199.0   88.70    5.0   4.50
2    Diesel       Manual      First    20.77  1248.0   88.76    7.0   6.00
3    Diesel    Automatic     Second    15.20  1968.0  140.80    5.0  17.74
4    Diesel       Manual      First    23.08  1461.0   63.10    5.0   3.50

In [55]:
#Mutate: Creating a new column based on existing columns.
df['Age'] = 2024 - df['Year']
print(df.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    18.19  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Price  Age
0  126.20    5.0  12.50    9
1   88.70    5.0   4.50   13
2   88.76    7.0   6.00   12
3  140.80    5.0  17.74   11
4   63.10    5.0   3.50   11

In [56]:
#Arrange: Sorting the DataFrame based on one or more columns.
sorted_data = df.sort_values(by='Year', ascending=True)
print(sorted_data.head())

      Unnamed: 0                               Name Location  Year  \
5558        5716                      Maruti Zen LX   Jaipur  1998
3039        3138                     Maruti Zen LXI   Jaipur  1998
3630        3749  Mercedes-Benz E-Class 250 D W 210   Mumbai  1998
1791        1845                 Honda City 1.3 EXI     Pune  1999
1185        1224                      Maruti Zen VX   Jaipur  1999

      Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
5558              95150    Petrol       Manual      Third     17.3   993.0
3039              95150    Petrol       Manual      Third     17.3   993.0
3630              55300    Diesel    Automatic      First     10.0  1796.0
1791             140000    Petrol       Manual      First     13.0  1343.0
1185              70000    Petrol       Manual     Second     17.3   993.0

      Power  Seats  Price  Age
5558   88.8    5.0   0.53   26
3039   88.8    5.0   0.45   26
3630  157.7    5.0   3.90   26
1791   88.8    5.0   0.90   25
1185   88.8    5.0   0.77   25

In [57]:
#Summarize with group by: Performing summary statistics after grouping by a column.
grouped_data = df.groupby('Fuel_Type').agg({'Kilometers_Driven': 'mean', 'Year': 'min'})
print(grouped_data)

           Kilometers_Driven  Year
Fuel_Type
Diesel          67464.220500  1998
Electric        47000.000000  2011
Petrol          47755.460507  1998